.tab-header-area .tab-header-background {
    -fx-background-color: linear-gradient(to right, #e5f8c9 0%, #c2dcfc 100%);
}

.tab-pane .tab-header-background .tab {
    -fx-background-color: #f7fcff;
}

.tab-pane .tab {
    -fx-background-color: #E5F3F4;
}

.tab-pane {
    -fx-background-color: #E5F3F4;
}

.titled-pane > .title {
    -fx-background-color: #e4f8c1;
}

.table-view .column-header {
    -fx-background-color: #badee0;
}

.anchor-pane {
    -fx-background-color: linear-gradient(to right, #e5f8c9 0%, #c2dcfc 100%);
}



